@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    font-weight: 400;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #14183d;
    font-weight: 400;
}
h1 {
    text-align: center;
    padding: 50px 0 30px;
}
.wrapper {
    margin: 0 auto;
    width: 1200px;
}
section.pictures {
    background: #14183d;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 17px 25px;
    padding: 80px 80px;
}
img {
    max-width: 100%;
    vertical-align: bottom;
}
#big_pic {
    grid-column: 2 / 4;
    grid-row: 1 / 3;   
}
section.text {
    background: #fff;
    padding: 80px 80px 50px;
    display: grid;
    grid-template-areas: 
    "p_one p_one p_two"
    "h2 h2 h2"
    "p_three p_four p_five";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 30px;
}
p:first-child {
    grid-area: p_one;
}
p:nth-child(2) {
    grid-area: p_two;
}
h2 {
    grid-area: h2;
    margin: 50px 0 10px;
}
p:nth-child(4) {
    grid-area: p_three;
}
p:nth-child(5) {
    grid-area: p_four;
}
p:nth-child(6) {
    grid-area: p_five;
}
a {
    display: block;
    background: #14183d;
    padding: 8px 0 8px 5px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
a:hover {
    color: red;
    transition: .5s;
    text-decoration: underline;
    transition: .5s;
}

footer {
    background: #777;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 20px;
}
@media only screen and (max-width: 1199px) and (min-width: 768px) {
    .wrapper {
        max-width: 100%;
    }
    section.pictures {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto-fit, 1fr);
    }
    #big_pic {
        grid-column: 1 / 2;
        grid-row: 2 / 3;   
    }
}
@media only screen and (max-width: 767px) {
    .wrapper {
        max-width: 100%;
    }
    section.pictures {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding: 50px 10%;
    }
    #big_pic {
        grid-column: 1 / 2;
        grid-row: 3 / 4;   
    }

    section.text {
        padding: 50px 10%;
        grid-template-areas: 
        "p_one p_one"
        "p_two p_two"
        "h2 h2"
        "p_three p_three"
        "p_four p_four"
        "p_five p_five";
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto-fit, auto);
        grid-gap: 30px;
    }
    
    h2 {
        grid-area: h2;
        margin: 50px 0 10px;
    }
}
/*
@media only screen and (max-width: 1199px) and (min-width: 1024px) {
    .wrapper {
        max-width: 100%;
    }
    section.pictures {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto-fit, 1fr);
    }
    #big_pic {
        grid-column: 1 / 2;
        grid-row: 2 / 3;   
    }
    section.text {
        
        padding: 80px 80px 50px;
        
        grid-template-areas: 
        "p_one p_one p_two"
        "h2 h2 h2"
        "p_three p_four p_five";
        grid-template-columns: repeat(auto-fit, 1fr);
        grid-template-rows: repeat(auto-fit, 1fr);
        grid-gap: 30px;
    }
}
*/
/*
#container {
    background: #fff;
    width: 900px;
    margin: 20px auto;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(3, 50px);
    gap: 10px;
    grid-template-areas:
    "marko marko marko"
    "sidebar2 main sidebar"
    "footer footer sidebar"
}

.header {
    background: #7E080A;
    grid-area: marko;
}
.main {
    background: #076F67;
    grid-area: main;
}
.sidebar {
    background: #386F06;
    grid-area: sidebar;
}
.sidebar2 {
    background: #97d65d;
    grid-area: sidebar2;
}
.footer {
    background: #B940E7;
    grid-area: footer;
}
*/