@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');
$violet: rgba(133,95,177, 1.0);
$blue: rgba(77,150,168,1.0);
$blackBlue: rgba(40,40,61,1.0);
$niceGray: rgba(135,135,157,1.0);
$lightBlue: rgba(143,227,249,1.0);
$violetLight: rgba(217,184,255,1.0);
$almostWhite: rgba(250,250,250,1.0);
$white: rgba(255,255,255,1.0);
$fontSize: 18px;
/***********
mixins
************/ 
@mixin flex($justify, $align, $direction: row) {
    display: flex;
    flex-wrap: wrap; 
    justify-content: $justify;
    flex-direction: $direction;
}
@mixin font($size, $weight, $lineHeight, $color) {
    font-size: $size;
    font-weight: $weight;
    font-style: normal;
    line-height: $lineHeight;
    color: $color;
}                       
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:'Red Hat Display', sans-serif;
    @include font($fontSize, 500, 26px, $niceGray);
    background-color: $almostWhite; 
}
section {
    margin: 0 auto;
    text-align: center;
    width: 1504px;
    @media only screen and (max-width: 1504px) and (min-width: 810px)  {
            
        width: 100%;
    }
}
/**************
upper section
*****************/
.upper {
    padding-top: 80px;
    padding-bottom: 55px;
    @media only screen and (max-width: 1504px) and (min-width: 810px)  {
            
        width: 100%;
    }
    article {
        @include flex(space-between, center);
        padding-top: 158px;
        @media only screen and (max-width: 1504px) and (min-width: 810px) {
            padding-top: 64px;
            
        }
        
        img {
            vertical-align: bottom;
        }
        img:first-child {
            margin-top: -55px;
            height: 303px;
            @media only screen and (max-width: 1504px) and (min-width: 810px) {
                margin-top: 0;
                width: 394px;
                
            }

            
        }
        img:last-child {
            @media only screen and (max-width: 1504px) and (min-width: 810px) {
                order: 2;
                width: 394px;
                
            } 
        }
        div {
            text-align: center;
            @media only screen and (max-width: 1504px) and (min-width: 810px)  {
                order: 3;
                flex: 100%;
                padding-top: 72px;
            }
            h1 {
                @include font(64px, 900, 64px, $blackBlue);
                padding-bottom: 34px;             
            }
            p {
                padding-bottom: 32px;
            }
            button:nth-child(3) {
                display: inline-block;
                height: 58px;
                width: 193px;
                background: $blue;
                @include font(16px, 900, 26px, $white);
                border: none;
                border-radius: 29px;
                margin-right: 16px;
                &:hover {
                    background: #71C0D4;
                    cursor: pointer;
                }
                span {
                    color: $lightBlue;
                    margin-left: 4px;
                }
            }
            button:last-child {
                display: inline-block;
                height: 58px;
                width: 139px;
                border: none;
                border-radius: 29px;
                background: $violet;
                @include font(16px, 900, 26px, $white);
                &:hover {
                    background: #B18BDD;
                    cursor: pointer;
                }
            }
        }
    }
}
/**************
middle section
*****************/
.middle {
    margin-bottom: 186px;
    p.num {
        position: relative;
        padding-top: 99px;
        width: 56px;
        height: 140px;
        margin: 0 auto 69px;
        span:first-child {
            @include font(16px, 900, 26px, $niceGray);
            padding: 15px 19px;
            border: 1px solid rgba(135,135,157,0.25);
            border-radius: 50px;
            
        }
        span:last-child {
            display: inline-block;
            position: absolute;
            top: 0;
            left: calc(50%-1px);
            height: 87px;
            border-right: 1px solid rgba(135,135,157,0.25);
        }
    }
    article {
        img {
            height: 242px;
            margin-right: 30px;
            border-radius: 10px;
            vertical-align: bottom;
            @media only screen and (max-width: 1200px) and (min-width: 810px) {
                 height: 156px;
                margin-right: 11px;
            } 
        }
        img:last-child {
            margin-right: 0;
        }
    }
    article:last-child {
        padding-top: 80px;
        p.built {
            @include font(16px, 900, 26px, $blue);
            letter-spacing: 4px;
            text-transform: uppercase;
            padding-bottom: 16px;
        }
        h2 {
            @include font(40px, 900, 44px, $blackBlue);
            text-align: center;
            padding-bottom: 32px;
        }
    }
}
/*************
footer
****************/ 
footer {
    margin: 0 auto;
    max-width: 1504px;
    background-image: linear-gradient(rgba($blue, .8), rgba($blue, .8)), url(../assets/desktop/image-footer.jpg);
    height:308px;
    margin-bottom: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    @media only screen and (max-width: 1200px) and (min-width: 810px)  {
        background-image: linear-gradient(rgba($blue, .8), rgba($blue, .8)), url(../assets/tablet/image-footer.jpg);    
        width: 100%;
        height: 428px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    p.num {
        position: relative;
        top: -15px;
        width: 56px;
        height: 140px;
        margin: 0 auto;
        z-index: 1;
        @media only screen and (max-width: 1200px) and (min-width: 810px)  {
            height: 90px;
        }
        span:first-child {
            background: $almostWhite;
            @include font(16px, 900, 26px, $niceGray);
            padding: 15px 19px;
            border: 1px solid rgba(135,135,157,0.25);
            border-radius: 50px;
        }
        span:last-child {
            display: inline-block;
            position: absolute;
            top: -100px;
            left: 50%;
            height: 87px;
            border-right: 1px solid rgba(135,135,157,0.25);
        }
    }
    article {
        @include flex(space-between, center);
        width: 1100px;
        color: $almostWhite;
        margin: 0 auto;
        align-items: center;
        @media only screen and (max-width: 1200px) and (min-width: 810px)  {
            @include flex(flex-start, center, column);
            width: 70%;
            text-align: center;
            flex-wrap: nowrap;
        }
        h3 {
            @include font(40px, 900, 44px, $almostWhite);
            flex-basis: 30%;
            @media only screen and (max-width: 1200px) and (min-width: 810px)  {
                padding-bottom: 32px;
                
                
            }

        }
        p {
            
            flex-basis: 30%;
            /*
            @media only screen and (max-width: 1200px) and (min-width: 810px)  {
                padding-bottom: 32px;
                
                
            }
            */
        }
        button {
            @include font(16px, 900, 26px, $white);
            background: $violet;
            border: none;
            border-radius: 29px;
            height: 58px;
            width: 193px;
           // flex-basis: 30%;
            &:hover {
                background: #B18BDD;
                cursor: pointer;
            }
            @media only screen and (max-width: 1200px) and (min-width: 810px)  {
                margin-top: 40px;
                
            }
            span {
                display: inline-block;
                color: $niceGray;
                padding-left: 4px;
            }
        }
    }
}