@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap");
/***********
mixins
************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  line-height: 26px;
  color: #87879d;
  background-color: #fafafa;
}

section {
  margin: 0 auto;
  text-align: center;
  width: 1504px;
}

@media only screen and (max-width: 1504px) and (min-width: 800px) {
  section {
    width: 100%;
  }
}

@media only screen and (max-width: 799px) and (min-width: 400px) {
  section {
    max-width: 100%;
  }
}

/**************
upper section
*****************/
.upper {
  padding-top: 80px;
  padding-bottom: 55px;
}

@media only screen and (max-width: 1504px) and (min-width: 800px) {
  .upper {
    width: 100%;
  }
}

@media only screen and (max-width: 799px) and (min-width: 400px) {
  .upper {
    padding-bottom: 39px;
  }
}

.upper article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 158px;
}

@media only screen and (max-width: 1504px) and (min-width: 800px) {
  .upper article {
    padding-top: 64px;
  }
}

@media only screen and (max-width: 799px) and (min-width: 400px) {
  .upper article {
    padding-top: 54px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.upper article img {
  vertical-align: bottom;
}

.upper article img:first-child {
  margin-top: -55px;
  height: 303px;
}

@media only screen and (max-width: 1504px) and (min-width: 800px) {
  .upper article img:first-child {
    margin-top: 0;
  }
}

@media only screen and (max-width: 799px) and (min-width: 400px) {
  .upper article img:first-child {
    margin-top: 0;
    height: 153px;
  }
}

@media only screen and (max-width: 1504px) and (min-width: 800px) {
  .upper article img:last-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media only screen and (max-width: 799px) and (min-width: 400px) {
  .upper article img:last-child {
    height: 153px;
  }
}

.upper article div {
  text-align: center;
}

@media only screen and (max-width: 1504px) and (min-width: 800px) {
  .upper article div {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    padding-top: 72px;
  }
}

@media only screen and (max-width: 799px) and (min-width: 400px) {
  .upper article div {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    padding-top: 48px;
  }
}

.upper article div h1 {
  font-size: 64px;
  font-weight: 900;
  font-style: normal;
  line-height: 64px;
  color: #28283d;
  padding-bottom: 34px;
}

@media only screen and (max-width: 1200px) and (min-width: 800px) {
  .upper article div h1 {
    font-size: 48px;
    font-weight: 900;
    font-style: normal;
    line-height: 48px;
    color: #28283d;
    padding-bottom: 24px;
  }
}

@media only screen and (max-width: 799px) and (min-width: 400px) {
  .upper article div h1 {
    font-size: 40px;
    font-weight: 900;
    font-style: normal;
    line-height: 44px;
    color: #28283d;
    padding-bottom: 24px;
  }
}

.upper article div p {
  padding-bottom: 32px;
}

@media only screen and (max-width: 599px) and (min-width: 400px) {
  .upper article div p {
    max-width: 90%;
    margin: 0 auto;
  }
}

.upper article div button:nth-child(3) {
  display: inline-block;
  height: 58px;
  width: 193px;
  background: #4d96a8;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  line-height: 26px;
  color: white;
  border: none;
  border-radius: 29px;
  margin-right: 16px;
}

.upper article div button:nth-child(3):hover {
  background: #71C0D4;
  cursor: pointer;
}

.upper article div button:nth-child(3) span {
  color: #8fe3f9;
  margin-left: 4px;
}

@media only screen and (max-width: 799px) and (min-width: 400px) {
  .upper article div button:nth-child(3) {
    display: block;
    margin: 0 auto 16px;
  }
}

.upper article div button:last-child {
  display: inline-block;
  height: 58px;
  width: 139px;
  border: none;
  border-radius: 29px;
  background: #855fb1;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  line-height: 26px;
  color: white;
}

.upper article div button:last-child:hover {
  background: #B18BDD;
  cursor: pointer;
}

@media only screen and (max-width: 799px) and (min-width: 400px) {
  .upper article div button:last-child {
    display: block;
    margin: 0 auto;
  }
}

/**************
middle section
*****************/
.middle {
  margin-bottom: 184px;
}

@media only screen and (max-width: 1200px) and (min-width: 600px) {
  .middle {
    margin-bottom: 192px;
  }
}

@media only screen and (max-width: 599px) and (min-width: 400px) {
  .middle {
    margin-bottom: 170px;
  }
}

.middle p.num {
  position: relative;
  padding-top: 99px;
  width: 56px;
  height: 140px;
  margin: 0 auto 69px;
}

.middle p.num span:first-child {
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  line-height: 26px;
  color: #87879d;
  padding: 15px 19px;
  border: 1px solid rgba(135, 135, 157, 0.25);
  border-radius: 50px;
}

.middle p.num span:last-child {
  display: inline-block;
  position: absolute;
  top: 0;
  left: calc(50%-1px);
  height: 87px;
  border-right: 1px solid rgba(135, 135, 157, 0.25);
}

.middle article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 1100px;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) and (min-width: 800px) {
  .middle article {
    width: 689px;
  }
}

@media only screen and (max-width: 799px) and (min-width: 400px) {
  .middle article {
    width: 327px;
  }
}

.middle article img {
  height: 242px;
  border-radius: 10px;
  vertical-align: bottom;
}

@media only screen and (max-width: 1200px) and (min-width: 800px) {
  .middle article img {
    height: 156px;
  }
}

@media only screen and (max-width: 799px) and (min-width: 400px) {
  .middle article img {
    height: 143px;
    margin-bottom: 14px;
  }
}

.middle article img:last-child, .middle article img:nth-child(3) {
  margin-bottom: 0;
}

.middle article:last-child {
  display: block;
  margin: 0 auto;
  padding-top: 80px;
  width: 540px;
}

@media only screen and (max-width: 1200px) and (min-width: 600px) {
  .middle article:last-child {
    width: 573px;
    padding-top: 48px;
  }
}

@media only screen and (max-width: 599px) and (min-width: 400px) {
  .middle article:last-child {
    width: 327px;
    padding-top: 64px;
  }
}

.middle article:last-child p.built {
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  line-height: 26px;
  color: #4d96a8;
  letter-spacing: 4px;
  text-transform: uppercase;
  padding-bottom: 16px;
}

.middle article:last-child h2 {
  font-size: 40px;
  font-weight: 900;
  font-style: normal;
  line-height: 44px;
  color: #28283d;
  text-align: center;
  padding-bottom: 32px;
}

@media only screen and (max-width: 599px) and (min-width: 400px) {
  .middle article:last-child h2 {
    font-size: 32px;
    font-weight: 900;
    font-style: normal;
    line-height: 36px;
    color: #28283d;
  }
}

/*************
footer
****************/
footer {
  margin: 0 auto;
  max-width: 1504px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(77, 150, 168, 0.8)), to(rgba(77, 150, 168, 0.8))), url(../assets/desktop/image-footer.jpg);
  background-image: linear-gradient(rgba(77, 150, 168, 0.8), rgba(77, 150, 168, 0.8)), url(../assets/desktop/image-footer.jpg);
  height: 308px;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 1200px) and (min-width: 600px) {
  footer {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(77, 150, 168, 0.8)), to(rgba(77, 150, 168, 0.8))), url(../assets/tablet/image-footer.jpg);
    background-image: linear-gradient(rgba(77, 150, 168, 0.8), rgba(77, 150, 168, 0.8)), url(../assets/tablet/image-footer.jpg);
    width: 100%;
    height: 428px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media only screen and (max-width: 599px) and (min-width: 400px) {
  footer {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(77, 150, 168, 0.8)), to(rgba(77, 150, 168, 0.8))), url(../assets/mobile/image-footer.jpg);
    background-image: linear-gradient(rgba(77, 150, 168, 0.8), rgba(77, 150, 168, 0.8)), url(../assets/mobile/image-footer.jpg);
    width: 100%;
    height: 428px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

footer p.num {
  position: relative;
  top: -15px;
  width: 56px;
  height: 140px;
  margin: 0 auto;
  z-index: 1;
}

@media only screen and (max-width: 1200px) and (min-width: 400px) {
  footer p.num {
    height: 90px;
  }
}

footer p.num span:first-child {
  background: #fafafa;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  line-height: 26px;
  color: #87879d;
  padding: 15px 19px;
  border: 1px solid rgba(135, 135, 157, 0.25);
  border-radius: 50px;
}

footer p.num span:last-child {
  display: inline-block;
  position: absolute;
  top: -100px;
  left: 50%;
  height: 87px;
  border-right: 1px solid rgba(135, 135, 157, 0.25);
}

footer article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 1100px;
  color: #fafafa;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1200px) and (min-width: 600px) {
  footer article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70%;
    text-align: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media only screen and (max-width: 599px) and (min-width: 400px) {
  footer article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    text-align: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

footer article h3 {
  font-size: 40px;
  font-weight: 900;
  font-style: normal;
  line-height: 44px;
  color: #fafafa;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

@media only screen and (max-width: 1200px) and (min-width: 600px) {
  footer article h3 {
    padding-bottom: 32px;
  }
}

@media only screen and (max-width: 599px) and (min-width: 400px) {
  footer article h3 {
    font-size: 32px;
    font-weight: 900;
    font-style: normal;
    line-height: 36px;
    color: #fafafa;
    padding-bottom: 24px;
  }
}

footer article p {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

@media only screen and (max-width: 599px) and (min-width: 400px) {
  footer article p {
    padding-bottom: 32px;
  }
}

footer article button {
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  line-height: 26px;
  color: white;
  background: #855fb1;
  border: none;
  border-radius: 29px;
  height: 58px;
  width: 193px;
}

footer article button:hover {
  background: #B18BDD;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) and (min-width: 600px) {
  footer article button {
    margin-top: 40px;
  }
}

footer article button span {
  display: inline-block;
  color: #87879d;
  padding-left: 4px;
}
/*# sourceMappingURL=style.css.map */