@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
:root {
    --violet: hsl(263, 55%, 52%);
    --grayishBlue: hsl(217, 19%, 35%);
    --blackishBlue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);
    --lightGray: hsl(0, 0%, 81%);
    --lightGrayishBlue: hsl(210, 46%, 95%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    font-weight: 500;
    background:#F2F2F2;
}
.container {
    margin: 50px auto;
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2 auto);
    gap: 30px 24px;
    grid-auto-flow: row;
    grid-template-areas:
      "daniel daniel jonathan kira"
      "jeanette patrick patrick kira";
  }
.all {
    border-radius: 7px;
    padding: 26px 26px 32px 32px;
    color: var(--white);
  }
.daniel {
    position: relative;
    background: var(--violet);
    grid-area: daniel;
    z-index: 1;
}
.picDiv {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 18px;
}
.picDiv img {
    border-radius: 50%;
    height: 28px;
    border: 2px solid #A775F1;
}
.name {
    margin: auto 0;
    padding-left: 15px;
}
.name h3 {
    line-height: 13px;
}
.name p {
    font-size: 11px;
    opacity: .5;
} 
#quotation {
    position: absolute;
    width: 104px;
    top: 0;
    right: 70px;
    color: #A775F1;
    font-size: 20px;
    z-index: -1;
}
.big-big_p {
    font-size: 20px;
    padding-bottom: 16px;
    font-weight: 600;
}
.big-small_p {
    opacity: 70%;
    line-height: 18px;
}
.jonathan {
    grid-area: jonathan;
    background: var(--grayishBlue);
}
.big_p {
    font-size: 20px;
    padding-bottom: 16px;
    font-weight: 600;
}
.small_p {
    font-size: 13px;
    opacity: .7;
    line-height: 18px;
    padding-right: 6px;
}
.jeanette { 
    grid-area: jeanette;
    background: var(--white);
    color: var(--grayishBlue);
}
.jeanette p.big_p {
    padding-right: 6px;
} 
.patrick {
    background: var(--blackishBlue);
    grid-area: patrick;
}
.kira { 
    background: var(--white);
    color: var(--grayishBlue); 
    grid-area: kira;
}
@media only screen and (max-width: 1099px) and (min-width: 768px){
    #quotation {
        right: 12%;
     }
    .container {
        max-width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2,  auto);
        gap: 32px 24px;
        grid-auto-flow: row;
        grid-template-areas:
          "daniel daniel"
          "jonathan jeanette"
          "patrick patrick"
          "kira kira";
      }
}
@media only screen and (max-width: 767px) and (min-width: 501px){
   .container {
       display: grid;
       grid-template-columns: 1fr;
       grid-template-rows: repeat(5,  auto);
       gap: 24px 0px;
       grid-auto-flow: row;
       grid-template-areas:
           "daniel"
           "jonathan"
           "jeanette"
           "patrick"
           "kira";
   }
   .all {
       border-radius: 7px;
       padding: 26px 32px 32px;
       color: var(--white);
   }
   .big-small_p {
       padding-right: 16px;
   }
   article:nth-child(4) .big-small_p { 
       padding-right: 0; 
   }
   .small_p {
       padding-right: 0;
   }
   .jeanette { 
       color: black;
       color: var(--grayishBlue);
   }
   .kira { 
       color: var(--grayishBlue);
    }
}
@media only screen and (max-width: 500px) {
     #quotation {
       right: 8%;
    }
    .container {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5,  auto);
        gap: 24px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "daniel"
            "jonathan"
            "jeanette"
            "patrick"
            "kira";
    }
    article:first-child .big-big_p {
        padding-bottom: 40px;
    }
}