* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: darksalmon;
}
.wrapp {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
}
.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fa-plus:hover {
    opacity: 0.6;
    cursor: pointer;
}
h2,
h3 {
    text-align: center;
    text-transform: uppercase;
}
article {
    margin: 20px auto;
    width: 260px;
    background: white;
    cursor: pointer;
    padding: 10px;
}

.input-task {
    display: block;
    margin-bottom: 10px;
}
.fill {
    /*position: relative;*/
    /*height: 150px;*/
    width: 220px;
    /* top: 5px;
    left: 5px; */
    /* cursor: pointer; */
}
.section {
    /*position: relative;*/
    width: 280px;

    background: #f4f4f4;
    /* top: 5px;
    left: 5px; */
    /* cursor: pointer; */
}

.hold {
    border: solid red 1px;
}
.hovered {
    background: #f4f4f4;
    border-style: dashed;
}
.hide {
    display: none;
}
